[page="admin"] main {
  max-width: 3000px;
  padding: 0;
}

[page="admin"] main > * {
  max-width: 3000px;
}
admin-page {
  padding: 1rem;
}

admin-page .grid > * {
  /* background-color: white; */
  /* padding: 0.5rem; */
}

.full {
  grid-column: 1/-1;
}

.two {
  grid-column: span 2;
}

bento-card h2 {
  font-size: 4rem;
}
