[page="admin"] main {
  max-width: 3000px;
  padding: 0;
}

[page="admin"] main > * {
  max-width: 3000px;
}
admin-page {
  /* padding: 1rem; */
}
admin-page .grid {
  margin: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 1rem;
}

.full {
  grid-column: 1/-1;
}

.two {
  grid-column: span 2;
}

admin-page .grid > * {
  /* background-color: white; */
  /* padding: 0.5rem; */
}
