nav.topnav {
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    margin: 1em 2em;
    position: relative;
  }
  a {
    display: block;
    font-size: 2rem;

    text-transform: uppercase;
    transition: all 300ms ease;
    width: fit-content;
    cursor: pointer;
    margin-bottom: 2em;
  }
  a.active {
    border-bottom: 4px solid hotpink;
  }
  a:hover {
    transform: skew(10deg);
  }
  a::before {
    content: attr(data-name);
    position: absolute;
    top: 0;
    left: -20px;
    background: var(--color-background);
    height: 1.5rem;
    overflow: hidden;
    transition: all 300ms ease;
    padding-left: 20px;
  }
  a:hover::before {
    top: -3px;
    left: 0px;
    color: hotpink;
  }

  a::after {
    content: "";
    height: 4px;
    width: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: hotpink;
    transition: all 300ms ease;
  }
  a:hover::after {
    width: 120%;
    outline: 1px solid rgb(2, 0, 36);
  }
}
pi-navigation {
  max-width: 100%;
  overflow: hidden;
  background-color: var(--gray-1);
  padding-left: 0.5rem;
}
nav.pager a {
  display: inline-block;
  margin-right: 1em;
  text-decoration: none;
  color: var(--text);
}
nav.pager a.active {
  border-bottom: 2px solid var(--accent);
}
nav ul {
  /* margin-top: 1rem; */
  display: flex;
  gap: 0.5rem;
  list-style-type: none;
  align-items: center;
}
nav a {
  color: var(--text);
  text-decoration: none;
  font-weight: 700;
  padding: 0.5rem 1rem;
  vertical-align: middle;
  line-height: 2.9;
}
nav .word {
  display: none;
}

nav li {
  height: 3rem;
  position: relative;
}
nav li.active {
  background-color: var(--accent);
}
nav li.active a {
  color: var(--inverted);
}

nav .search {
  width: 5rem;
  padding-left: 0.3rem;
  margin-top: 0px;
  padding-top: 4px;
}

@media (width>=500px) {
  nav .word {
    display: inline;
  }

  nav .search {
    width: fit-content;
  }
}
